/* Estilos para la página */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #1d571a;
    color: white;
    padding: 20px;
  }
  
  nav ul {
    list-style: none;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  main {
    padding: 20px;
  }
  
  .product {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .product img {
    width: 200px;
    height: auto;
    display: block;
    margin-bottom: 10px;
  }
  
  .price {
    font-weight: bold;
    color: #333;
  }
  
  .btn-add-to-cart {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .btn-add-to-cart:hover {
    background-color: #0056b3;
  }
  
  /* Estilos para las imágenes en línea */
.image-container {
    display: flex; /* Utilizamos flexbox para alinear las imágenes en línea */
  }
  
  .image-container img {
    width: 200px; /* Tamaño deseado para las imágenes */
    height: auto;
    margin-right: 10px; /* Espacio entre cada imagen */
  }
  